@mixin clearfix {
    
    &::after{
        content: '';
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER

/*
* 0 - 600px: Phone
* 600 - 900px: Tablet portrait
* 900 - 1200px: Tablet landscape
* [1200 - 1800]: normal styles apply
* 1800px +: Big desktop
*
* $breackpoint arguments choices:
* - phone
* - tab-port
* - tab-land
* - big-desktop
*
* 1em = 16px
* 600px => 37.5em
* 900px => 56.25em
* 1200px => 75em
* 1800px => 112.5em
*/
@mixin respond($breackpoint) {

    @if $breackpoint == phone {
        @media (max-width: 37.5em) { @content; }
    }
    
    @if $breackpoint == tab-port {
        @media (max-width: 56.25em) { @content; }
    }

    @if $breackpoint == tab-land {
        @media (max-width: 75em) { @content; }
    }

    @if $breackpoint == big-desktop {
        @media (max-width: 112.5em) { @content; }
    }
}